<h1>Stats Calculation</h1>

<form action="/descriptive_stats/results">
<div>
  <label for="input_list"> Numbers</label>
  <input id="input_list" type="text" name="user_list">
</div>  
  <button>Calculate descriptive statistics</button>
</form>