<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
    <label for="input_num"> Enter a number</label>
    <input id="input_num" type="text" name="user_number">
  </div>
  <button>Calculate square</button>
</form>