<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>
    <label for="input_num"> Enter a number</label>
    <input id="input_num" type="text" name="user_number">
  </div>
  <button>Calculate square root</button>
</form>