<h1>Word Count Calculation</h1>

<form action="/word_count/results">
<div>
  <label for="text">Text</label>
  <textarea id="text" name="user_text" rows="3" placeholder="Enter some text"></textarea>
</div>
<div>
  <label for="special_word">Special word</label>
  <input id="special_word" type="text" name="user_special_word" placeholder="Enter a particular word to count"> 
</div>

<button>Process text</button>


</form>